fastapi
uvicorn
pydantic
pydantic-settings
pydantic[email]
psycopg2-binary
sqlalchemy
pyjwt
passlib[bcrypt]
python-multipart
langchain-chroma
langchain-huggingface
langchain-core
neo4j
python-dotenv
pytest
pymupdf
networkx
ragas
datasets
pandas
numpy
